/*
+----------------------------------------------------------------+
|                                                                |
|   WordPress Plugin: WP-PostRatings                             |
|   Copyright (c) 2012 Lester "GaMerZ" Chan                      |
|                                                                |
|   File Written By:                                             |
|   - Lester "GaMerZ" Chan                                       |
|   - http://lesterchan.net                                      |
|                                                                |
|   File Information:                                            |
|   - Post Ratings CSS File                                      |
|   - wp-content/plugins/wp-postratings/postratings-css.css      |
|                                                                |
+----------------------------------------------------------------+
*/

.post-ratings {
	width: 100%;
	opacity: 1;
	/* background-color: #ffffff; */
}

.post-ratings-loading {
	display: none;
	height: 16px;
	text-align: left;
}

.post-ratings-image {
	border: 0;
	width: auto !important;
	display: inline-block !important;
}

.post-ratings img,
.post-ratings-loading img,
.post-ratings-image img {
	border: 0;
	padding: 0;
	margin: 0;
}

.post-ratings-text {

padding-bottom:10px;
	
}

.post-ratings-comment-author {
	font-weight: normal;
	font-style: normal;
}
